div {
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    height:100px;
    width:100px;
    display: inline-block;
    border-radius: 50%;
}

#red {
    background-color:#FF0000;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}
